:root {
  font-family: 'Segoe UI', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
